<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/assets/vendors/bootstrap-icons/bootstrap-icons.css}">
  <link rel="stylesheet" th:href="@{/assets/css/style.css}">
</head>

<body class="auth-body">
<main class="auth-page">
  <section class="auth-card">
    <form class="needs-validation" novalidate th:action="@{/login}" method="post">
      <div class="mb-4">
        <h1 class="mb-1">Đăng nhập</h1>
      </div>
      <div class="alert alert-danger" th:if="${param.error}">Username hoặc mật khẩu không đúng.</div>
      <div class="alert alert-success" th:if="${param.logout}">Bạn đã đăng xuất.</div>
      <div class="mb-3"><label class="form-label" for="username">Username (admin)</label>
        <input class="form-control" id="username" name="username" type="text" autocomplete="username" required>
        <div class="invalid-feedback">
          Username không được để trống.
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="password">
          Password (1)
        </label>

        <input class="form-control" id="password" name="password" type="password" autocomplete="current-password"
               required>
        <div class="invalid-feedback">
          Password không được để trống.
        </div>
      </div>

      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

      <button class="btn btn-primary w-100" type="submit">
        <i class="bi bi-box-arrow-in-right"></i>
        Đăng nhập
      </button>
    </form>
  </section>
</main>
<script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
