DB_URL=jdbc:postgresql://host:5432/db-name
DB_USERNAME=<db-username>
DB_PASSWORD=<db-password>

CLOUDINARY_CLOUD_NAME=<cloudinary_cloud_name>
CLOUDINARY_API_KEY=<cloudinary-api-key>
CLOUDINARY_API_SECRET=<cloud-api-secret>

JWT_SECRET=<jwt-secret>
JWT_EXPIRATION=86400000

R2_ACCOUNT_ID=<r2-account-id>
R2_ACCESS_KEY=<r2-access-key>
R2_SECRET_KEY=<r2-secret-key>
R2_BUCKET_NAME=<r2-bucket-name>

CLIO_MASTER_KEY=<base64-encoded-32-byte-master-key>
CLIO_LICENSE_KEY=<base64-encoded-private-pem>

STRIPE_PUBLIC_KEY=<stripe-public-key>
STRIPE_SECRET_KEY=<stripe-secret-key>
STRIPE_WEBHOOK_SECRET=<stripe-webhook-secret>
STRIPE_SUCCESS_URL=<stripe-success-url>
STRIPE_CANCEL_URL=<stripe-cancel-url>
